<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Calculadora</title>
  <meta charset="utf-8">
  <link rel="icon" href="images/favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">CALCULADORA</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">HOME</a></li>
          <li id="matrices"><a href="/matrices">MATRICES</a></li>
          <li id="vectores"><a href="/vectores">VECTORES</a></li>
          <li id="cuaternios"><a href="/cuaternios">CUATERNIOS</a></li>
          <li id="transformaciones"><a href="/transformaciones">TRANSFORMACIONES</a></li>
          <li id="bresenham"><a href="/bresenham">BRESENHAM</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
