<%- include("partials/header") %>
<h1>Cuaternios:</h1>
<form class="" action="/cuaternios" method="post">
    <label for="cuaternio1r">Valores del primer vector</label>
    <input id="cuaternio1r" class="form-control" required="true" type="number" step="any" name="cuaternios1r" autocomplete="off" placeholder="Valor real">
    <input id="cuaternio1i" class="form-control" required="true" type="number" step="any" name="cuaternios1i" autocomplete="off" placeholder="Valor de i">
    <input id="cuaternio1j" class="form-control" required="true" type="number" step="any" name="cuaternios1j" autocomplete="off" placeholder="Valor de j">
    <input id="cuaternio1k" class="form-control" required="true" type="number" step="any" name="cuaternios1k" autocomplete="off" placeholder="Valor de k">
    <label for="cuaternio2r">Valores del segundo vector</label>
    <input id="cuaternio2r" class="form-control" required="true" type="number" step="any" name="cuaternios2r" autocomplete="off" placeholder="Valor real">
    <input id="cuaternio2i" class="form-control" required="true" type="number" step="any" name="cuaternios2i" autocomplete="off" placeholder="Valor de i">
    <input id="cuaternio2j" class="form-control" required="true" type="number" step="any" name="cuaternios2j" autocomplete="off" placeholder="Valor de j">
    <input id="cuaternio2k" class="form-control" required="true" type="number" step="any" name="cuaternios2k" autocomplete="off" placeholder="Valor de k">
    <button class="btn btn-primary" type="submit" name="button">Aceptar</button>
  </form>
  
<%- include("partials/footer") %>