<%- include("partials/header") %>
<h1>Rotacion en Y:</h1>
<form class="" action="/transformaciones/rotaciony/operacion" method="post">
    <label for="rotaciony">Valores de la translacion</label>
    <input id="rotaciony" class="form-control" required="true" type="number" step="any" name="rotaciony" autocomplete="off" placeholder="Grados de rotacion en Y">
    <button class="btn btn-primary" type="submit" name="button">Aceptar</button>
  </form>
  
<%- include("partials/footer") %>