<%- include("partials/header") %>
<h1>Rotacion en x:</h1>
<form class="" action="/transformaciones/rotacionx/operacion" method="post">
    <label for="rotacionx">Valores de la translacion</label>
    <input id="rotacionx" class="form-control" required="true" type="number" step="any" name="rotacionx" autocomplete="off" placeholder="Grados de rotacion en x">
    <button class="btn btn-primary" type="submit" name="button">Aceptar</button>
  </form>
  
<%- include("partials/footer") %>