<%- include("partials/header") %>
<h1>Rotacion en Z:</h1>
<form class="" action="/transformaciones/rotacionz/operacion" method="post">
    <label for="rotacionz">Valores de la translacion</label>
    <input id="rotacionz" class="form-control" required="true" type="number" step="any" name="rotacionz" autocomplete="off" placeholder="Grados de rotacion en Z">
    <button class="btn btn-primary" type="submit" name="button">Aceptar</button>
  </form>
  
<%- include("partials/footer") %>