<%- include("partials/header") %>
<h1>Producto Cruz</h1>
<form class="" action="/vectores" method="post">
    <label for="vector1i">Valores del primer vector</label>
    <input id="vector1i" class="form-control" required="true" type="number" step="any" name="vector1i" autocomplete="off" placeholder="Valor de i">
    <input id="vector1j" class="form-control" required="true" type="number" step="any" name="vector1j" autocomplete="off" placeholder="Valor de j">
    <input id="vector1k" class="form-control" required="true" type="number" step="any" name="vector1k" autocomplete="off" placeholder="Valor de k">
    <label for="vector2i">Valores del segundo vector</label>
    <input id="vector2i" class="form-control" required="true" type="number" step="any" name="vector2i" autocomplete="off" placeholder="Valor de i">
    <input id="vector2j" class="form-control" required="true" type="number" step="any" name="vector2j" autocomplete="off" placeholder="Valor de j">
    <input id="vector2k" class="form-control" required="true" type="number" step="any" name="vector2k" autocomplete="off" placeholder="Valor de k">
    <button class="btn btn-primary" type="submit" name="button">Aceptar</button>
  </form>
<%- include("partials/footer") %>